body {
    padding: 0;
    margin: 0;
    font-family: Caslon, Garamond, Helvetica, Constantia, Georgia, "Book Antiqua", "URW Palladio L", serif;
    font-size: 1.2em;
}

ul { margin: 0; }

#footer {
    text-align: center;
    width: 50em;
    margin: 2em auto 1em;
    font-size: 0.7em;
}

a {
    text-decoration: none;
    color: #fb6600;
}

a:hover {
    text-decoration: none;
    color: #5ebb00;
}

a img {
    border: 0;
}

#content {
    margin: 0 auto;
    width: 42em;
    position: relative;
}

#content .title{
    padding: 0;
    margin: 0;
    font-size: 3em;
    text-align: center;
    text-decoration: none;
    color: #fb5e00;
}

.outline-2 {
    min-height: 25em;
}

.outline-2 h2 {
    padding-left: 0em;
    margin: 0;
    color: #fb5e00;
    font-size: 2em;
    margin-top: .5em;
    margin-bottom: 0em;
}

.context-nav,
ul.breadcrumbs {
    list-style-type: none;
    padding: 0;
    position: absolute;
}

.context-nav { right:0; }

.breadcrumbs li { display: inline; }
.breadcrumbs a {
    text-decoration: none;
    color: #fb5e00;
}

.context-nav a {
    color: #fb5e00;
}

.breadcrumbs a:hover { text-decoration: underline; }
.breadcrumbs .separator { color: #fb5e00; }

#sitenav {
    text-align: center;
    border-bottom: .2em dotted #000000;
    padding-bottom: 1em;
}

#sitenav ul { list-style-type: none; }

#sitenav li {
    display: inline;
    margin-left: .2em;
}

#sitenav a {
    text-decoration: none;
    padding: 0.2em;
    background-color: #fb5e00;
    color: #00000;
}

#sitenav .selected a {
    background-color: #fb5e00;
    color: #ffffff;
}


.post-date{
    float:right;
    font-style:italic;
    font-size:.8em;
    margin-bottom:.1em;
    padding-bottom:.5em;
}
