body {
    padding: 0;
    margin: 0;
    font-family: Caslon, Garamond, Helvetica, Constantia, Georgia, "Book Antiqua", "URW Palladio L", serif;
}

ul { margin: 0; }

#footer {
    text-align: center;
    margin: 2em auto 1em;
    font-size: 0.7em;
    border: 1px dotted #BBB;
}

a {
    text-decoration: none;
    color: #888;
}

a:hover {
    text-decoration: none;
    color: #BBB;
}

a img {
    border: 0;
}

#content {
    margin: 0 auto;
    width: 40em;
    position: relative;
    font-size: 1.2em;
}

#content code{
    font-size: 1.2em;
}

#recent {
    padding: 0em 0em 1em 5em;
    width: 30em;
}

#recent h3{
    text-align:center;
    color: #999;
    margin: 0em;
}

#recent ul{
    margin-top: 1em;
    list-style: none;
    padding: 0em;
}

#timesince {
    float: right;
    font-size: 0.7em;
    color: #BBB;
}

.all-posts a{
    font-size: 0.7em;
    color: #fff;
    background-color: #BBB;
}

#all-posts a:hover {
    color: #FFF;
    background-color: #999;
}

#content .title{
    color: #000;
    padding: 0;
    margin: 0;
    font-size: 3em;
    text-align: center;
}

.outline-2 {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px dotted #BBB;
}

.outline-2 h2 {
    color: #000;
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.outline-2 h2 {
    color: #000;
    font-size: 2em;
    margin: 0em;
    padding: 0.2em 0;
}

.context-nav{
    list-style-type: none;
    padding: 0;
    position: absolute;
    float: right;
}

.context-nav { right:0; }

#sitenav {
    text-align: center;
    border-bottom: 1px dotted #BBB;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

#sitenav ul{ 
    list-style-type: none; 
    padding:0em;
}

#sitenav li {
    display: inline;
}

#sitenav a {
    text-decoration: none;
    padding: 0.2em;
    margin: 0.2em;
    color: #FFF;
    background-color: #999;
}

#sitenav a:hover {
    color: #FFF;
    background-color: #BBB;
}

.post-date{
    float:right;
    font-size:.8em;
    margin-bottom:.1em;
    padding-bottom:.5em;
}

.tags{
    float:right;
    text-align: right;
    font-size: 0.6em;
}

.tags a{
    margin: 0.1em;
    padding: 0 0.5em;
    color: #FFF;
    background-color: #999;
}

#footnotes h2 {
    font-size: 0.9em;
}

#text-footnotes{
    font-size: 0.8em;
}

.footref{
    font-size: 0.8em;
}
