{% extends "skeleton/_root.html" %}
{% block all %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>{% block title %}{{site.name}}{% endblock %}</title>
	{% block feeds %}
	<link href="{{site.url}}/atom.xml" rel="alternate" title="{{site.name}}" type="application/atom+xml"/>
	{% endblock %}
	{% block css %}
	<link rel="stylesheet" href="{{site.url}}/media/css/base.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{site.url}}/media/css/pygments.css" type="text/css" media="screen" charset="utf-8">
	{% block extra_css %}{% endblock %}{% endblock %}{% block js %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
	{% block extra_js %}
        {% endblock %}{% endblock %}
</head>
<body>
<div id="content">	
    {% include "skeleton/_header.html" %}
	{% block content %}{% endblock %}
    {% include "skeleton/_footer.html" %}
</div>

<script type="text/javascript">
  var disqus_shortname = 'rusticreverie';
  (function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/rusticreverie/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>

</body>
</html>
{% endblock %}
