{% extends "skeleton/_root.html" %}
{% block all %}

{%ifnotequal node page.node %}
{% if node.has_listing %}<a href="{{node.listing_url}}">{% endif %}
<h2>{{node.name|unslugify}}</h2>
{% if node.has_listing %}</a>{% endif %}
{%endifnotequal%}

{%regroup node.pages by created|date:"Y" as pages_year %}
<ul>
  {% for year in pages_year|slice:"-1" %}
  <li> {{year.grouper}} 

    <ul>
      {% for page in year.list %}
      {% ifnotequal page node.listing_page %}
      {% if page.display_in_list %}
      <li><a href="{{page.url}}">
          {% with page.name_without_extension|remove_date_prefix|unslugify as default_title %}
          {{page.title|default_if_none:default_title}}</a>  
          {% endwith %} 
        <span class="tags">
          {%for tag in page.categories %}
          <a href="{{site.url}}/tag/{{tag}}.html">{{tag}}</a>  
          {%endfor%}
        </span>
      </li>
      {%endif%}
      {% endifnotequal %}
      {% endfor %}
    </ul>

  </li>
  {% endfor %}
</ul>

{% endblock %}
    




