{% extends "skeleton/_root.html" %}
{% block all %}

{%ifnotequal node page.node %}
{% if node.has_listing %}<a href="{{node.listing_url}}">{% endif %}
<h2>{{node.name|unslugify}}</h2>
{% if node.has_listing %}</a>{% endif %}
{%endifnotequal%}
<div class="feed"><a href="{{site.url}}/atom.xml"><img src="{{site.url}}/media/images/feed.jpg" alt="Subscribe" /></a></div>
{%regroup node.pages by created|date:"Y" as pages_year %}
{% for year in pages_year|slice:"-1" %}
<div class="listing">
  <h2> {{year.grouper}} </h2>

  <ul class="post-listing">
    {% for page in year.list %}
    {% ifnotequal page node.listing_page %}
    {% if page.display_in_list %}
    <li><a href="{{page.url}}">
        {% with page.name_without_extension|remove_date_prefix|unslugify as default_title %}
        {{page.title|default_if_none:default_title}}</a>  
      {% endwith %} <span class="timesince"> {{page.created|timesince}} ago</span>
      <span class="tags">
        {%for tag in page.categories %}
        <a href="{{site.url}}/tag/{{tag}}.html">{{tag}}</a>  
        {%endfor%}
      </span>
    </li>
    {%endif%}
    {% endifnotequal %}
    {% endfor %}
  </ul>

</div>
{% endfor %}


{% endblock %}
    




