{% extends "skeleton/_body.html" %}

{% block content_body %}
{% filter typogrify %}
{% include "skeleton/_postmetainfo.html" %}
<div class="outline-2">

{% block content_header %}
{% include "skeleton/_postheading.html" %}
{% endblock %}

{% block article %}
    
{% endblock %}
    
{% endfilter %}

<div id="disqus_thread"></div>
<script type="text/javascript">
  /**
  * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
  */
  (function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = 'http://rusticreverie.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript><p>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=rusticreverie">comments powered by Disqus.</a></p></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

</div>
{% endblock %}
