<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>{{ head_title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel='stylesheet' type='text/css' href='/{{ stylesheet }}'>
<link href='http://fonts.googleapis.com/css?family=Maiden+Orange' rel='stylesheet' type='text/css'>
<link rel="alternate" type="application/atom+xml"
title="{{ head_title }}" href="{{ feed_url }}">
</head>
<body>
<p id="sitepages">
{% for name, url in author.links %}
<a href="{{ url }}"><img src='/{{ name }}.png' alt="{{ name|title }}" title="{{ name|title }}" height="30" width="30"/></a>
{% endfor %}
</p>
<h1>
{% block title %}
{% endblock %}
</h1>
{% block content %}
{% endblock %}
<p id="footer">
<span class="author vcard">
Written by
<a class="url fn" href="{{ author.url }}">{{ author.name }}</a>
&lt;<a class="email" href="mailto:{{ author.email }}">{{ author.email }}</a>&gt;.
</span>
<a href="https://github.com/punchagan/blog-files">Source code</a>.
<br />
Content is under the <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/in">Creative Commons Attribution-NonCommercial-ShareAlike 2.5 India License</a>.
<br />
Icons from <a href="http://glyphicons.com/" targe="_blank">http://glyphicons.com/</a>
</p>
</body>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', '{{ analytics }}']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

<script type="text/javascript">
/* <![CDATA[ */
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();
/* ]]> */
</script>

</html>
