body {
    background-color: white;
    color: #222222;
    font: 'Maiden Orange','Palatino Linotype',Georgia,serif;
    width: 40em;
    padding: 3em 3em 3em 3em;
    line-height: 1.2;
    font-size: 1.2em;
}

a {
    color: #444;
}

p {
    margin-bottom: 1em;
}

ul, ol {
    padding: 0 0 0 2em;
}

blockquote {
    font-style: italic;
    margin: 0;
}

blockquote em {
    font-weight: bold;
}

pre, code {
    font-family: 'Consolas','Deja Vu Sans Mono','Bitstream Vera Sans Mono','Monaco','Courier New';
    font-size: .82em;
}

pre {
    border: 0.15em solid #eee;
    border-left: 1em solid #eee;
    display: block;
    padding: 1em 1em 1em 2em;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 1.4em;
    opacity: 0.9;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 0em;
}

h3 {
    font-size: 2em;
}

img {
    margin: 1em 0 1em 0;
}

table {
    margin-top: 1em;
}

table th, table td {
    padding-right: 1em;
    text-align: left;
}

table.hanging {
    display: inline;
    float: left;
    padding: 0;
    margin: 1em 1em 1em -10em;
}

table caption {
    caption-side: bottom;
    color: #666;
    font-size: .75em;
    padding: 0 1em;
    text-align: left;
}

table.hanging img {
    border: .1em solid #ddd;
    margin: 0;
    padding: .5em;
}

h1 a, h2 a, h3 a, ul.tags a {
    text-decoration: none;
}

h1, h1 a, h2, h2 a, h3 {
    color: #222;
}

h1 a:hover, h2 a:hover {
    color: #c00;
}

h1, h2, h3, abbr.updated {
    font-style: normal;
    font-weight: normal;
}

abbr.updated {
    position: absolute;
    margin: -1.25em 0em 1em 0.2em;
}

abbr.updated {
    border: 0;
    font-size: 0.7em;
    opacity: 0.6;
}

ul.cloud-tags {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: justify;
}

ul.cloud-tags li {
    display: inline;
    margin-right: 3pt;
}

ul.cloud-tags a {
    text-decoration: none;
}

ul.tags {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.tags li {
    display: inline;
    font-size: .8em;
    margin-right: .3em;
}

ul.tags li.active a, ul.tags a:hover {
    color: #c00;
}

.entry-content a {
    color: #c00;
}

.entry-content a:hover {
    color: #000;
}

p#footer {
    color: #bbb;
    font-size: .75em;
    margin-top: 3em;
    text-align: center;
    text-indent: 0;
}

p#footer a {
    color: #999;
}

#sitepages a {
    display: inline;
}

#sitepages a:hover {
    opacity: .6;
}

sup {
    font-size: .5em;
}

#button {
    position: relative;
    text-align: left;
}

#button a {
    background: none repeat scroll 0 0 #CC0000;
    border-radius: 0.3em;
    color: #FFFFFF;
    opacity: 0.8;
    padding: 0.2em 0.4em;
    text-decoration: none;
    font-size: 0.7em;
}

#button a:hover {
    opacity: 0.7;
}
